body{
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin: 0;

    background-color: black;
    color:white;
}

*::before,
*::after{box-sizing: border-box;}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

header{
    width: 100%;
    height: 88px;
    position: relative;
}

.container_header{
    display: inline-flex;
    flex-flow: row;
    justify-content: right;
    width: 85%;
    align-items: center;
    
    
}

.img{
    padding-left: 35px;
    padding-top: 30px;
}

.bttn{
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 16px;
    height: 88px;
    box-shadow: none;
}


button:hover{
    background-color:rgba(82, 33, 230, 1)
}


.Hero{
    display: grid;

    grid-template-rows: 20% 1fr 368px 1fr 20%;
    grid-template-columns: auto repeat(2, 75px) auto;
}

.Hero img{
    grid-row: 2 / 4;
    grid-column: 1 / 4;
    order: 1;
}

.Hero_block{
    background-color: rgba(24, 24, 35, 1);
    grid-row: 1 / span 5;
    grid-column: 2 / span 3;
    order: 0;
}

.Hero_text{
    grid-row: 3 / span 1;
    grid-column: 3 / span 2; 
    order: 2;

    margin-bottom: 32px;
}

.Hero_text h1{
    font-size: 78px;
    line-height: 90px;
}

h1 span{
    opacity: 0.5;
}